# Example workflow

In [ ]:
import rectanglepy as rectangle
from anndata import AnnData

## Load tutorial data

In [ ]:
sc_counts, annotations, bulks  = rectangle.load_tutorial_data()

In [12]:
sc_counts.iloc[:, :5].head()

,MIR1302-2HG,AL627309.1,AL627309.4,AC114498.1,AL669831.5
E2L4_GATGCTACAGGCACAA,0,0,0,0,0
L5_AACAACCAGGAACTAT,0,0,0,0,0
L5_TCCTTCTGTACTCCGG,0,0,0,0,0
L2_GCCCGAACACGTATAC,0,0,0,0,0
E2L2_ATGCATGTCACACCCT,0,0,0,0,0

In [ ]:
annotations.head()

In [11]:
bulks.iloc[:, :5].head()

         UBE2Q2P2  SSX9   CXorf67   EFCAB8  SPATA31B1P
pbmc_1   0.000000   0.0  0.118865  0.00000         0.0
pbmc_10  0.081115   0.0  0.086782  0.00000         0.0
pbmc_12  0.000000   0.0  0.188464  0.03157         0.0

### Convert to AnnData object

In [ ]:
sc_adata = AnnData(sc_counts, obs=annotations.to_frame(name="cell_type"))

# Single step Rectangle workflow

To deconvolute the bulk data in a single step, use the rectangle function. This function returns a tuple of the estimated cell type proportions and the signature result.

In [ ]:
estimations, signature_result = rectangle.rectangle(sc_adata, bulks)

In [ ]:
estimations

signature_result is a [`RectangleSignatureResult`](../generated/rectanglepy.pp.RectangleSignatureResult.rst) object.

# 2-step Rectangle workflow

Rectangle can also be run in two steps, first creating the signature and then deconvoluting the bulk data.

## Create Signature result

In [ ]:
signature_result = rectangle.pp.build_rectangle_signatures(sc_adata, bulks=bulks)

This creates a [`RectangleSignatureResult`](../generated/rectanglepy.pp.RectangleSignatureResult.rst) object.

## Deconvolute bulk data

In [ ]:
estimations = rectangle.tl.deconvolution(signature_result, bulks)

This returns a pandas DataFrame with the estimated cell type proportions.

In [14]:
estimations.T

                    pbmc_1       pbmc_10       pbmc_12
B cells           0.089947  1.099018e-01  7.147636e-02
ILC               0.008037  1.482882e-02  7.568929e-03
Monocytes         0.227473  2.967478e-01  2.255510e-01
NK cells          0.022183  1.626444e-02  1.011593e-01
Plasma cells      0.005894  6.567050e-04  3.095959e-03
Platelet          0.004847  2.190904e-02  1.863999e-02
T cells CD4 conv  0.037192 -6.450194e-18 -3.137140e-17
T cells CD8       0.161779  1.180941e-01  2.740643e-01
Tregs             0.416100  3.962703e-01  2.563935e-01
mDC               0.024173  2.066734e-02  1.005506e-02
pDC               0.002376  4.659653e-03  2.985398e-03
Unknown           0.000000  0.000000e+00  2.901021e-02